.root, .map, .events {
    height: 100vh;
    width: 100vw;
}

.root {
    position: relative;
    opacity: 0;
    transition: filter 0.5s;
}

.repo-name {
    z-index: 2;
    position: absolute;
    top: 2vh;
    right: 0;
    left: 0;
    text-align: center;
    color: #FFF;
}

.map, .events {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.events {
    object-fit: contain;
}

.root-inactive {
    filter: blur(10px);
}

.root-with-map {
    animation: fade-in 2s linear forwards;
}

.map {
    height: 100vh;
    width: 100vw;
}

.events {
    height: 100vh;
    width: 100vw;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}