.root {
    
}

.dialog {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-weight: 100;
}


.dialog-body {
    padding-top: 10px;
    text-align: center;
}

.button {
    display: inline-block;
    border: 1px solid #FFF;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 94px;
    font-size: 16px;
    color: inherit;
    cursor: pointer;
    transition: transform 0.5s;
}

.button:hover { 
    transform: scale(1.1);
}