.root {
    position: absolute;
    height: 50vh;
    width: 60vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-weight: 100;
}

.dialog-title {
    font-size: 2em;
    text-align: center;
}

.dialog-body {
    padding-top: 10px;
    text-align: center;
}

.dialog-footer {
    padding-top: 50px;
    text-align: center;
}

.field {
    width: 80%;
    margin: 0 auto;
}
.field-input {
    display: block;
    text-align: center
}

.field-description {
    font-size: 12px;
    padding-top: 10px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6)
}

.example, .example-title {
    display: inline-block;
    padding: 4px 10px;
}

.example {
    text-decoration: underline;
    cursor: pointer;
}

.input {
    display: inline-block;
    border: 1px solid #FFF;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    color: inherit;
    width: 100%;
}

.input:focus {
    outline: 7px solid rgba(255,255,255,0.1);
}

.button {
    display: inline-block;
    border: 1px solid #FFF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 56px;
    font-size: 16px;
    color: inherit;
    cursor: pointer;
    transition: transform 0.5s;
}

.button:hover { 
    transform: scale(1.1);
}